.dashboard{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .dash-body{
        overflow-y: auto;
        flex: 1;
    }

    .footer{
       display: flex;
       justify-content: end;
       align-items: center;
       padding: 4vw 4vw;
    }
}