.dashboard-navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: #0f0f1267;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #3F3F46;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    .dashboard-navbar-left{
        display: flex;
        align-items: center;
        padding-left: 4vw;
        h1{
            cursor: pointer;
        }
        img{
          height: 40px;
            width: 40px;
            margin-right: 10px;
        }
    }
    .dashboard-navbar-right{
        display: flex;
        align-items: center;
        padding-right: 4vw;

        .search {
            display: flex;
            align-items: center;
            padding-right: 2vw;
            
            .search-input{
                width: 100%;
                padding: 12px 24px;
        
                background-color: transparent;
                transition: transform 250ms ease-in-out;
                font-size: 14px;
                line-height: 18px;
                
                color: #575756;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: 18px 18px;
                background-position: 95% center;
                border-radius: 50px;
                border: 1px solid #575756;
                transition: all 250ms ease-in-out;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                
                &:hover,
                &:focus {
                    padding: 12px 0;
                    outline: 0;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #575756;
                    border-radius: 0;
                    background-position: 100% center;
                    background-image: none;
                }
            }
    
          }
    }
}
